@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: Assistant;
  src: url("../assets/fonts/Assistant-VariableFont_wght.ttf");
}
@font-face {
  font-family: FiraCode;
  src: url("../assets/fonts/FiraCode-VariableFont_wght.ttf");
}
@import "tailwindcss";

@theme {
  --font-body: Rubik, sans-serif;
  --font-heading: Assistant, sans-serif;
  --font-accent: FiraCode, sans-serif;
  
  --animate-scroll: scroll 40s linear infinite;
  --animate-upDown: upDown 1s alternate infinite ease-in-out;
  --animate-glowUpTypewriter: glowUpTypewriter 0.5s ease-in-out forwards;
  --animate-glowDownTypewriter: glowDownTypewriter 0.5s ease-in-out forwards;
  @keyframes scroll {
    to {
        transform: translateX(-100%);
    }  
  };
  @keyframes upDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
  };
  @keyframes glowUpTypewriter {
    0% {
      transform: scale(90%);
      filter: drop-shadow(0 0 5px rgba(255,255,255,0.8));
      opacity: 0%;
    }
    50% {
      transform: scale(100%);
      filter: drop-shadow(0 0 15px rgba(255,255,255,1));
      opacity: 10%;
    }
    100% {
      transform: scale(100%);
      filter: drop-shadow(0 0 5px rgba(255,255,255,0.8));
      opacity: 10%;
    }
  };
  @keyframes glowDownTypewriter {
    0% {
      transform: scale(100%);
      filter: drop-shadow(0 0 10px rgba(255,255,255,0.8));
      opacity: 10%;
    }
    100% {
      transform: scale(90%);
      filter: drop-shadow(0 0 5px rgba(255,255,255,1));
      opacity: 0%;
    }
  };
}

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.custom-pattern {
	background-image: linear-gradient(#e5e5e503 2px, transparent 2px), linear-gradient(to right, #e5e5e503 2px, transparent 2px);
	background-size: 200px 200px;
}

.clipped-element {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 2% 2%, 2% 98%, 98% 98%, 98% 2%, 2% 2%);
}